<ion-view view-title="Preferencias">
    <ion-content>

        <div class="padding">
            <h3 class="padding-vertical font-regular">Rutas</h3>

            <h4>Unidades</h4>

            <div class="list">
                <label class="item item-radio" ng-repeat="pref in radioButtons.units.values">
                    <input type="radio" name="units" ng-model="preferences.unitSystem" value="{{pref}}" ng-change="Update()">
                    <div class="item-content"> {{radioButtons.units.texts[$index]}} </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>

            <h4>Si es posible, evitar...</h4>
            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="preferences.avoidHighways" ng-change="Update()">
                    </label>
                    Autopistas
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="preferences.avoidTolls" ng-change="Update()">
                    </label>
                    Peajes
                </li>
            </ul>


            <h3 class="padding-vertical font-regular">Guías turísticas</h3>

            <h4>Ordenar por</h4>
            <div class="list">
                <label class="item item-radio">
                    <input type="radio" name="rankby" ng-model="preferences.rankBy" value="{{rankBy.prominence}}" ng-change="Update(1)">
                    <div class="item-content"> Popularidad </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" name="rankby" ng-model="preferences.rankBy" value="{{rankBy.distance}}" ng-change="Update(1)">
                    <div class="item-content"> Distancia </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>

            <div ng-class="{'radius-disabled': preferences.rankBy == rankBy.distance}">
                <h4>Radio: {{preferences.radius / 1000}} km</h4>
                <div class="list">
                    <div class="item range" ng-class="{'range-positive': preferences.rankBy != rankBy.distance, 'range-dark': preferences.rankBy == rankBy.distance}">
                        1km
                        <input ng-disabled="preferences.rankBy == rankBy.distance" type="range" ng-model="preferences.radius" name="rank" min="1000" max="40000" ng-change="Update(1)">
                        40km
                    </div>
                </div>
            </div>


            <h4>Intereses</h4>

            <ul class="list">
                <li class="item item-checkbox" ng-repeat="pref in preferences.interests">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="pref.active" ng-change="Update(1)">
                    </label>
                    {{ pref.name }}
                </li>
            </ul>
        </div>

    </ion-content>
</ion-view>